@import '/styles/_Theme.scss';

consoleoverlay
{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 10px;
	font-family: Roboto Mono;
	flex-direction: column;

	&.hidden
	{
		display: none;
	}

	.output
	{
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
		flex-grow: 1;


		ConsoleEntry
		{
			flex-shrink: 0;
			cursor: pointer;
			color: #919aab;

			label
			{
				text-shadow: 1px 1px 0px rgba( $default-950, 0.95 );
				padding: 2px 10px;
				font-size: 10px;
				font-weight: 600;
				background-color: rgba( $default-950, 0.85 );
				outline: 1px solid rgba( $default-border, 0.65 );
			}

			.time
			{
				width: 88px;
				min-width: 88px;
				max-width: 88px;
				justify-content: center;

				> label
				{
					width: 100%;
					text-align: center;
					color: $default-200;
				}
			}

			.message > label
			{
				color: #919aab;
			}

			.message
			{
				color: #919aab;
			}

			&.Trace
			{
				opacity: 0.8;
			}

			&.Warn
			{
				color: #ffd75d;

				.message,
				.message > label
				{
					color: #ffd75d;
				}
			}

			&.Error
			{
				color: #ff6f7c;

				.message,
				.message > label
				{
					color: #ff6f7c;
				}
			}
		}
	}
}
