@import '/styles/_theme.scss';

devlayer
{
	width: 100%;
	height: 100%;
	z-index: 10000;
	pointer-events: none;
	font-family: $font-default;
	color: $default-text;

	&.developermode
	{
		pointer-events: all;

		consoleoverlay
		{
			display: none;
		}
	}

	.popup-panel
	{
		pointer-events: all;
		background-color: $default-900;
		border: 1px solid $default-border;
		border-radius: $rounding-default;
		color: $default-text;

		.button
		{
			font-size: $text-small;
		}
	}
}
