
@import '/styles/_Theme.scss';

console
{
	font-family: $font-default;
	font-size: 12px;
	font-weight: normal;
	position: relative;
	flex-direction: column;
	padding: 3px;
	border-radius: 8px;
	gap: 2px;
	flex-grow: 1;
	background-image: linear-gradient( to bottom, rgba( $default-900, 0.9 ), rgba( $default-950, 0.95 ) );
	backdrop-filter: blur( 8px );
	outline: 1px solid $default-border;

	.console_output
	{
		position: relative;
		z-index: 1;
		width: 100%;
		min-height: 0;
		flex-grow: 1;
		font-size: 10px;
		font-weight: 500;
		color: #919aab;
		background-color: rgba( $default-900, 1 );
		border-radius: $rounding-small;
	}

	.toolbar
	{
		position: relative;
		z-index: 30;
		align-items: center;
		gap: 8px;
		padding: 4px;
		width: 100%;

		Button
		{
			background-color: rgba( $default-500, 0.08 );
			color: $default-200;
			border: 1px solid transparent;
			border-radius: $rounding-small;
			padding: 0 14px;
			flex-shrink: 1;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			white-space: nowrap;
			min-width: 40px;
			min-height: 32px;
			cursor: pointer;
			gap: 5px;

			Label,
			.label,
			iconpanel,
			.iconpanel,
			span
			{
				color: $default-200;
			}

			&.active
			{
				background-color: rgba( $primary-blue, 0.25 );
				border-color: rgba( $primary-blue, 0.45 );
				color: $default-text;
			}
		}

		Button.scroll-down-btn
		{
			background-color: rgba( $primary-blue, 0.25 );
			border-color: rgba( $primary-blue, 0.45 );
			min-width: 46px;
			padding: 0 10px;
			font-size: 16px;
		}

		.type
		{
			background-color: rgba( $default-700, 0.25 );
			color: $default-200;
			flex-shrink: 1;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			width: 58px;
			min-width: 58px;
			min-height: 32px;
			font-weight: 600;

			&.err
			{
				color: #ff6f7c;
				background-color: rgba( #ff5a6a, 0.14 );
			}

			&.wrn
			{
				color: #ffd75d;
				background-color: rgba( #ffd75d, 0.16 );
			}

			&.disabled
			{
				opacity: 0.1;
			}
		}

		.filter
		{
			background-color: rgba( $default-800, 0.85 );
			border: 1px solid transparent;
			border-radius: $rounding-small;
			cursor: text;
			flex-shrink: 0;
			color: $default-100;
			flex-grow: 0;
			min-width: 160px;
			max-width: 210px;
			overflow: hidden;
			min-height: 30px;
			padding: 0 10px;

			.prefix-label,
			.suffix-label
			{
				display: none;
			}

			&:active, &:focus, &:hover
			{
				border-color: rgba( $primary-blue, 0.45 );
			}
		}

	}

}
