@using Sandbox
@using Sandbox.UI
@namespace Sandbox.UI.Dev
@inherits Panel

<root class="@classes">
    <div class="time">@Event.Time.ToString("hh:mm:ss")</div>
    <div class="message">@Event.Message</div>
</root>


@code
{
    static ConsoleRow selectedLine;

    public LogEvent Event;

    public bool AutoDelete;
    public RealTimeUntil TimeUntilDelete;

    public Action<LogEvent> OnEntryClicked;

    public string classes => $"{(selectedLine==this?"highlight":"")} {Event.Level.ToString()} {(Event.Logger ?? "")}".Trim();

    internal void SetLogEvent(LogEvent e)
    {
        Event = e;
        StateHasChanged();
    }

    protected override void OnClick(MousePanelEvent e)
    {
        OnEntryClicked?.Invoke(Event);
        selectedLine = this;
    }

    protected override void OnMouseDown(MousePanelEvent e)
    {
        base.OnMouseDown(e);
        var p = Parent;
        while ( p is not null )
        {
            if ( p is Console console )
            {
                console.UnselectAllInChildren();
                break;
            }

            p = p.Parent;
        }

        e.StopPropagation();
    }

    protected override int BuildHash() => HashCode.Combine( selectedLine );
}
