
@import '/styles/_Theme.scss';


console .logeventpanel
{
    flex-direction: column;
    background-color: $default-900;
    color: $default-text;
    border-radius: $rounding-default;
    box-shadow: 0 6px 30px rgba( black, 0.45 );
    outline: 1px solid $default-border;
    padding: 0;
    white-space: nowrap;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 50px;
    z-index: 20;
    overflow: hidden;
    height: 210px;
    font-size: 10px;
    font-weight: 600;
    pointer-events: auto;
}

console .logeventpanel.hidden
{
    display: none;
}

console .logeventpanel .message
{
    flex-direction: column;
    white-space: pre;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0;
    height: 100%;
    width: 100%;
}

console .logeventpanel .message > *
{
    flex-shrink: 0;
}

console .logeventpanel .message .text
{
    padding: 8px;
}

console .logeventpanel .message .stack
{
    overflow: hidden;
    overflow-y: scroll;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
    flex-direction: column;
    opacity: 0.5;
}

console .logeventpanel .message .stack > *
{
    flex-shrink: 0;
    flex-grow: 0;
    padding: 8px;
}

console .logeventpanel .message .stack > .details
{
    font-size: 12px;
    line-height: 16px;
    color: $default-text-light;
    white-space: pre;
}

console .logeventpanel .close
{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    border-radius: 100px;
    padding: 5px;
    z-index: 1000;

    &:hover
    {
        background-color: $primary-blue;
    }
}
