@import '/styles/_Theme.scss';

StatValue
{
    flex-shrink: 0;
    color: $default-200;
    gap: 10px;
    white-space: nowrap;

    name
    {
        flex-grow: 1;
        color: $default-200;

        > label,
        *
        {
            color: $default-200;
        }
    }

    value
    {
        color: $default-text;
        width: 80px;
        flex-shrink: 0;
        justify-content: flex-end;
        font-weight: 600;
        font-family: Roboto Mono;

        > label,
        *
        {
            color: $default-text;
        }
    }
}
