@import '/styles/_Theme.scss';

StatsContainer
{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.statbox
{
    border-radius: $rounding-default;
    flex-direction: column;
    padding: 16px;
    font-family: $font-default;
    font-size: 14px;
    width: 100%;
    outline: 1px solid $default-border;
    background-color: rgba( $default-900, 0.85 );
    gap: 6px;

    .stat-title
    {
        color: $primary-blue;
        font-weight: 700;
        font-size: 12px;
        flex-shrink: 0;
        margin-bottom: 6px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
